@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgrey;
}
.container{
    background-color: #fff;
    max-width: 960px;
    margin: auto;
}
.header ul{
    background-color: #000;
}
.header ul li{
    margin: 7px 4px 0 4px;
    padding: 7px;
}
.header h1{
    font-size: 40px;
    text-align: center;
    font-weight: 900;
    font-family: 'viga', sans-serif;
    padding: 7px;
}

.header a{
    text-decoration: none;
    color: white;
}
.header a:hover{
    color:black;
    background-color: white;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-sizing: border-box;
}
.hero {
    height: 300px;
    background-image: url(img/hero.jpg);
    background-position: 0 -52;
    background-size: cover;
    border-top: 1px solid orangered;
    border-bottom: 1px solid skyblue;
}

.content{
    padding: 7px;
}

.main h2 {
    font-size: 24px;
    font-family: roboto, sans-serif;
    margin: 7px 0 7px 0;
}
.meta {
    font-size: 13px;
    margin: 5px 0 5px 0;
}
.isi {
    font-size: 16px;
    font-family: roboto, sans-serif ;
    text-indent: 20px;
   }

.sidebar img{
     width: 80px;
     height: 80px;
     border-radius: 50%;
     border: 2px solid black;
     text-align: center;
     
   }
.footer{
    background-color: black;
}
.footer p{
    text-align: center;
    color: white;
    padding: 10px;
}
/* responsive */
@media( min-width: 992px) {
    .sidebar{
        width: 300px;
        float: right;
    }
    .main {
        margin-left: 10px;
        width: 600px;
        float: left;
       
    }
    .hero {
        height: 400px;
    }
   
    
    .header ul li{
        list-style-type: none;
        display: inline-block;
       
    }
}
@media( max-width: 768px){
    .sidebar{
        float: none;
    }
}
/* clear */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


.cf {
    *zoom: 1;
}
.clear {
    clear :both
}